<h1>Level of Interest for All Jobs by Count</h1>
<% @level_of_interest.each do |number, jobs| %>
  <h4><%= number %></h4>
  <p><%= jobs.count %></p>
<% end %>

<% @top_level_interest.each do |company| %>
  <p><%= company.name %></p>

  <p><%= company.average_level_of_interest %></p>
  <% end %>

  <% @jobs_sort_by_location.each do |city, jobs| %>
    <h1><%= link_to city, jobs_path(location: city) %></h1>
    <%= jobs.count %>
  <% end %>
