<h4><%= link_to "<< All Companies", companies_path %></h4>

<h4><%= link_to "Create a New Job for #{@company.name}", new_company_job_path(@company) %></h4>

<h3>All Jobs for <strong><%= @company.name %></strong></h3>

<% @company.jobs.each do |job| %>
  <ul><%= link_to job.title, company_job_path(@company, job) %> at <%= job.company.name %></ul>
<% end %>

<%= render partial: "contacts/form" %>

Contacts for <strong><%= @company.name %></strong>

<%= render partial: "companies/contact", collection: @company.contacts  %>
